body{
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-real-estate-selling-a-house-estate-high-end-real-estate-image_21331.jpg");
  background-attachment:fixed;
background-size: cover;
 

  background-repeat: no-repeat;
  background-attachment:fixed;
    font-size:large;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style:italic;
    
}
   #decison{
     position: absolute;
     top:100%;
     
   }
  
  
  

  fieldset{
    width: fit-content;
    text-align: center;
    color:black;
  }
  
  select
  {
    background-color:white;
    color:rgba(0, 0, 0, 0.945);
    font-size: large;
  }
  @media screen and (min-width: 1000px) {
      #erc
      {
        position: absolute;
        top:1%;
        left: 20%;
        width:fit-content;
        height: fit-content;
        
        border-color: darkturquoise;
        border-width: 5px;
      }
      #trc
      {
        position: absolute;
        top:1%;
        left: 56%;
        width:fit-content;
        height: fit-content;
     
        border-color: darkturquoise;
        border-width: 5px;
      }
  
      #lac
      {
        position: absolute;
        top:36%;
        left: 30%;
        width: fit-content;
        border-width: 5px;
      
        border-color: darkturquoise;
       
        border-radius: 12px;
        height: fit-content;
         
      }
     

      }
      #dpp{
        padding-top: 20px;
        margin-top: 20px;
    }
    #co{
      padding-top: 1px;
      margin-top: 10px;
     margin-left: 20px;
     border-width: 5px;
     
     border-color: darkturquoise;

    }
    #dpp{
      padding-top: 1px;
      margin-top: 10px;
     margin-left: 20px;
     border-width: 5px;
   
     border-color: darkturquoise;

    }
    #int{
      padding-top: 10px;
      margin-top: 10px;
      margin-left: 20px;
      border-width: 5px;
     
      border-color: darkturquoise;
     
      
  
    }
    #ri{
      padding-top: 10px;
      margin-top: 5px;
      margin-left: 20px;
      border-width: 5px;
      color:black;
   
      border-color: darkturquoise;

    }
    #pv{
      padding-top: 10px;
      margin-top: 5px;
      margin-left: 20px;
      border-width: 5px;
      
      border-color: darkturquoise;
    }
    #hrcd{
      padding-top: 10px;
      margin-top: 5px;
      margin-left: 50px;
     
      
      
      

    }
    #lrcd{
      /* padding-top: 5px; */
      margin-top: -10px;
      margin-left: 50px;

    }
    #decison{
      margin-top: -20px;
      margin-left: 50px;


    }